html {
  box-sizing:
  border-box:

}
body {
  background-color: white;
  margin-left: 20%;
  align-items: baseline;
  font-family: Helvetica;
}
h1 {
text-align: left;
margin-left: 3.5%;
color: black;
font-family: sans-serif;

}
h2 {
  text-align: left;
  padding: 4px;
  margin-left: 3.5%;
}
h2 li{
  text-align: left;
  padding: 4px;
  margin-left: 3.5%;
}
h3 {
display: inline-flex;
margin-left: 3.5%;
list-style: none;
font-size: 20px;
}
h4{
  text-align: right;
  font-family: Helvetica;
  font-weight: lighter;
  padding: inherit;
}
p {
margin-left: 5%;
width: 23em;
}
img {
  margin-left: 3.5%;
  height: 270px;
  width: 475px;
}

nav {
  font-size: 1.5em;
  font-style: normal;
  margin: 10px;
  padding: 10px;
  display: inline;
}
nav ul {
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  padding: 15px 20px;
  font-family: Helvetica;
  text-decoration: none;
  margin-top: -8px;
  margin-left: -20px;
  color: black;
}

nav ul li ul {
display: none;
position: absolute;
background-color: white;
padding: 8px 20px;
border-radius: 0px 0px 4px 4px;
text-align: left;
}

nav ul li:hover ul {
display: block;
}

nav ul li ul li {
width: 180px;
height: 60px;
border-radius: 4px;
padding-top: 3.5px;

}


nav ul li ul li a {
padding: 4px 4px;
width: 100%;
}

nav ul li ul li a:hover {
padding: 4px;
background-color: lightgrey;

}
/* end of nav bar */
.container {
  max-width: 960px;
  margin: 0%;
  text-align: left;
  font-family:sans-serif;
}
.social > li  {
  display: inline-block;
  font-size: 2em;
  padding: 8px;
}
/* target font from fontawesome */
}
.copyright{
  text-align: left;
  margin-left: 20%;
}
#greeting {
  background-color:
  text-align: center;
}
