
body {
  color: olive;

  h1 {
     font-family: 'times new roman';
   }
   h2 {

   }
   p {
     color: black;
   }
   .bodystyle {
     background-color: darkslategrey;
   }
   #primary {
     font-size: 300%;
     text-align: center;
     font-family: 'Times New Roman';
   }
